{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<div class="container">

		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		<section>
			<h1>Connexion</h1>
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button type="submit" class="btn btn-success">connexion</button>
			{{ form_end(form) }}
		</section>

		<section>
			<h2>Déjà inscrit ?</h2>
			<p>Après inscription, un mail vous a été envoyé pour valider votre adresse.<br/>Pour recevoir à nouveau ce mail,
				<a href="{{path('app_verify_email_request') }}">cliquez ici</a>
			</p>
		</section>
	</div>
{% endblock %}
