{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
	<div class="container">
		<h2>Gérer les tricks</h2>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for trick in tricks %}
					<tr>
						<td>
							<a href="{{ path('trick_show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}">{{ trick.name }}</a>
						</td>
						<td>
							<a href="{{ path('trick_edit', {id: trick.id}) }}" class="btn btn-secondary">Modifier</a>
						</td>
						<td>
							<a href="{{ path('trick_delete', {id: trick.id}) }}" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="container">
			<a href="{{ path('trick_new') }}" class="btn btn-primary">Ajouter un trick</a>
		</div>

	</div>
{% endblock %}
