{{ form_start(form) }}
{{ form_errors(form)}}
<div class="row">
	<div class="col-lg-6">
		{{ form_row(form.name)}}
		{{ form_row(form.category)}}
	</div>
	<div class="col-lg-6">
		{{ form_row(form.description)}}
	</div>
</div>
