{% for trick in tricks %}

	{% set picture = trick.pictures|first %}

	<div class='col-12 col-lg-3 trick-item'>
		<div class="card mb-5">
			<div class="picture">
				{% if picture is not empty %}
					<a href="{{ path('trick_show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}"><img class="img-fluid" src="{{ src_trick_base ~ picture.name }}" alt="Photo {{ trick.category.name }}"/></a>
				{% endif %}
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<a href="{{ path('trick_show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}" class="float-left mr-2">{{ trick.name }}</a>
					{% if is_granted('ENTITY_EDIT', trick) %}
						<a href="{{ path('trick_edit', {'id' : trick.id }) }}" role="button" class="btn btn-primary btn-sm text-light float-left mr-2" title="Modifier">
							<i class="fa fa-pen" aria-hidden="true"></i>
						</a>
					{% endif %}
					{% if is_granted('ENTITY_DELETE', trick) %}
						{% include "trick/_delete_form.html.twig" %}
					{% endif %}
				</h5>
				<p class="card-text">
					{% if trick.owner is not empty %}
						@{{ trick.owner.pseudo }},
					{% endif %}
					{{ trick.createdAt|date("m/d/Y") }}
				</p>
				<p>
					<span class="badge badge-info">{{ trick.category.name }}</span>
				</p>
			</div>
		</div>
	</div>
{% endfor %}