<div class='col-5'>
	<div class='card'>
		<a href="{{ path('trick.show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}"><img src="{{ trick.mainPicture}}" alt="{{ trick.name }}" class="img-fluid"></a>
		<div class='card-body'>
			<h5 class='card-title'>
				{{ trick.name }}
			</h5>
			<span class="badge badge-info">{{ trick.category.name }}</span>
		</div>
	</div>
</div>
