{% extends 'base.html.twig' %}

{% block title %}Gestion des tricks |
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Gestion des tricks</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Nom</th>
					<th>Id</th>
					<th>Slug</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for trick in tricks %}
					<tr>
						<td class="align-middle">
							<a href="{{ path('trick_show', {'category_slug' : trick.category.slug, 'slug' : trick.slug}) }}">{{ trick.name }}</a>
						</td>
						<td class="align-middle">{{ trick.id }}</td>
						<td class="align-middle">{{ trick.slug }}</td>
						<td width="100">
							<a href="{{ path('trick_edit', {id: trick.id}) }}" class="btn btn-warning">Modifier</a>
						</td>
						<td>
							{{ include('trick/_delete_form.html.twig') }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<div class="container">
			<a href="{{ path('trick_new') }}" class="btn btn-primary">Ajouter un trick</a>
		</div>

	</div>
{% endblock %}
