{% extends 'base.html.twig' %}

{% block body %}
	<div class="container mt-4">
		<h1>Modifier la figure</h1>
		{{ form_start(form) }}

		{{ form_errors(form)}}

		<div class="row">
			<div class="col">
				{{ form_row(form.name)}}
				{{ form_row(form.description)}}
				{{ form_row(form.category)}}
			</div>
			<div class="col">
				<h3>Photos</h3>
				<div class="row">
					{% for picture in pictures %}
						<div class="col-3">
							<p><img src="{{ src_trick_base ~ picture.name }}" alt="" width="100"></p>
							<p><input name="delete_pictures[{{ picture.id }}]" type="checkbox">
								Supprimer</p>
						</div>
					{% else %}
						Pas de photo
					{% endfor %}
				</div>
				{{ form_row(form.pictures)}}


			</div>
		</div>

		<div class="row"></div>

		<button class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}
