{% extends 'base.html.twig' %}

{% block title %}Ajouter un trick |
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<h1>Ajouter un trick</h1>
		{{ form_start(form) }}
		{{ form_errors(form)}}

		<div class="row">
			<div class="col">
				{{ form_row(form.name)}}
				{{ form_row(form.description)}}
				{{ form_row(form.category)}}
			</div>
			<div class="col">
				<h3>Photos</h3>
				{% for i in 0..4 %}
					{{ form_widget(attribute(form, 'picture_' ~ i)) }}
				{% endfor %}

				<h3>Videos</h3>
				{% for i in 0..2 %}
					{{ form_widget(attribute(form, 'video_' ~ i)) }}
				{% endfor %}
			</div>
		</div>
		<button class="btn btn-primary">Enregistrer</button>
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('asset/js/formCollection.js') }}"></script>
{% endblock %}
