{% extends "base.html.twig" %}

{% set picture = trick.pictures|first %}

{% block title %}
	{{trick.name}}
	-
	{{trick.category.name}}
{% endblock %}

{% block body %}
	<div class="container">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{ path('home') }}">Accueil</a>
			</li>
			<li class="breadcrumb-item">
				<a href="{{ path('trick_list', {'slug' : trick.category.slug }) }}">{{ trick.category.name }}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{ trick.name }}</li>
		</ol>


		<h1>{{trick.name}}
			{% if is_granted('ENTITY_EDIT', trick) %}
				<a href="{{ path('trick_edit', {'id' : trick.id }) }}" class="badge badge-secondary">
					<i class="fa fa-pen" aria-hidden="true"></i>
				</a>
			{% endif %}

			{% if is_granted('ENTITY_DELETE', trick) %}
				<a href="{{ path('trick_delete', {'id' : trick.id }) }}" class="badge badge-danger">
					<i class="fa fa-trash" aria-hidden="true"></i>
				</a>
			{% endif %}
		</h1>

		<div class="row">
			<div class="col-4">
				{% if picture is not empty %}
					<img src="{{ asset(src_trick_base ~ picture.name) }}" alt="Photo {{ trick.name }}"/>
				{% else %}
					<p>Pas d'image</p>
				{% endif %}
			</div>
			<div class="col">
				{% include "trick/_category_badge.html.twig" %}
				<p>{{trick.description}}</p>
			</div>
		</div>

		<div>
			{% for picture in trick.pictures|slice(1) %}
				<img src="{{ asset(src_trick_base ~ picture.name) }}" alt="Photo {{ trick.name }}" width="150"/>
			{% endfor %}
		</div>

		<div>
			{% for comment in comments %}
				<div class="card" style="width: 50%;">
					<div class="card-body">
						<h5 class="card-title">{{ comment.user.email }}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="card-link">Card link</a>
						<a href="#" class="card-link">Another link</a>
					</div>
				</div>
			{% endfor %}
		</div>
		<div>
			{% if is_granted('ROLE_USER') %}
				{{ form_start(form) }}
				{{ form_widget(form) }}

				<button class="btn btn-primary">Enregistrer</button>
				{{ form_end(form) }}</div>
		{% else %}
			<div class="alert alert-primary" role="alert">
				Pour ajouter un commentaire, vous devez vous
				<a href="{{ path('security_login') }}">connecter</a>
			</div>
		{% endif %}
	</div>

</div>{% endblock %}
